esphome/.esphome
esphome/secrets.yaml
esphome/venv/*

kicad/mixer-controller/mixer-controller-backups
kicad/mixer-display-connector/mixer-display-connector-backups
kicad/mixer-interface/mixer-interface-backups
kicad/vesc-adc-filter/vesc-adc-filter-backups
kicad/encoder-breakout/encoder-breakout/encoder-breakout-backups